@import-normalize; /* bring in normalize.css styles */

@font-face {
  font-family: 'Poppins';
  src: local('Poppins-Regular'), local('Poppins-Medium'),
    local('Poppins-SemiBold'),
    url('./components/fonts/Poppins-Regular.ttf') format('truetype'),
    url('./components/fonts/Poppins-Medium.ttf') format('truetype'),
    url('./components/fonts/Poppins-SemiBold.ttf') format('truetype');
}

:root {
  --color-black: #000000;
  --bg-color-form: #151515;
  --bg-color-form-input: #1f1f1f;
  --bg-color-light: #f6f6f7;
  --bg-color-pale-purple: #ecedfd66;
  --border-color: #bedbb066;
  --color-blue: #8fa1d0;
  --color-cream: #fcfcfc;
  --color-dark: #161616;
  --color-dark-gray: #1111111a;
  --color-deep-black: #161616;
  --color-green: #bedbb0;
  --color-hover-green: #9dc888;
  --color-icon-dark: #121212;
  --color-light: #1616164d;
  --color-light-blue: #b8bcfd;
  --color-light-gray: #d9d9d9;
  --color-light-purple: #7b7ede;
  --color-opacity-black: #1616160d;
  --color-pale-blue: #ecedfd;
  --color-pale-gray: #e8e8e8;
  --color-pale-white: #ffffff4d;
  --color-pastel: #c04d4d;
  --color-pink: #e09cb5;
  --color-purple: #5255bc;
  --color-purple-blue: #979cea;
  --color-red: #ff0000a9;
  --color-shadow: #16161614;
  --color-text-card: #161616b3;
  --color-text-dark: #16161680;
  --color-text-grey: #161616cc;
  --color-transparent-black: #1616161a;
  --color-white: #ffffff;
/*-----------------------------------*/
  --color-text-dark-main: #161616;
  --color-text-white-main: #FFFFFF;
  --color-text-green-main: #BEDBB0;
  --color-text-violet-main: #5255BC;
  
  --color-text-dark-07: #161616B2; /*card description*/
  --color-text-dark-05: #16161680; /*priority deadline*/
  --color-text-white-05: #FFFFFF80; /*card description*/
  --color-cream: #FCFCFC;






}

html {
  height: 100%;
  overflow-y: hidden;
}

body {
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Poppins', 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  ::-webkit-scrollbar {
    background-color: var(--color-white);
    width: 4px;
    height: 12px;
    border-radius: 12px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--color-pale-gray);
    border-radius: 12px;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

button,
a {
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  text-decoration: none;
}
p {
  margin: 0;
  padding: 0;
}
