@import-normalize; /* bring in normalize.css styles */

@font-face {
  font-family: 'Poppins';
  src: local('Poppins-Regular'), local('Poppins-Medium'),
    local('Poppins-SemiBold'),
    url('./components/fonts/Poppins-Regular.ttf') format('truetype'),
    url('./components/fonts/Poppins-Medium.ttf') format('truetype'),
    url('./components/fonts/Poppins-SemiBold.ttf') format('truetype');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Poppins', 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  ::-webkit-scrollbar {
    background-color: #ffffff;
    width: 4px;
    height: 12px;
    border-radius: 12px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #e8e8e8;
    border-radius: 12px;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

button, a {
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  text-decoration: none;
}
p {
  margin: 0;
  padding: 0;
}
