@import-normalize; /* bring in normalize.css styles */

@font-face {
  font-family: 'Poppins';
  src: local('Poppins-Regular'), local('Poppins-Medium'),
    local('Poppins-SemiBold'),
    url('./components/fonts/Poppins-Regular.ttf') format('truetype'),
    url('./components/fonts/Poppins-Medium.ttf') format('truetype'),
    url('./components/fonts/Poppins-SemiBold.ttf') format('truetype');
}

:root {
--color-black: rgba(0, 0, 0, 1);
--bg-color-form: rgba(21, 21, 21, 1);
--bg-color-form-input: rgba(31, 31, 31, 1);
--bg-color-light: rgba(246, 246, 247, 1);
--bg-color-pale-purple: rgba(236, 237, 253, 0.4);
--border-color: rgba(190, 219, 176, 0.4);
--color-blue: rgba(143, 161, 208, 1);
--color-cream: rgba(252, 252, 252, 1);
--color-dark: rgba(22, 22, 22, 1);
--color-dark-gray: rgba(17, 17, 17, 0.1);
--color-deep-black: rgba(22, 22, 22, 1);
--color-green: rgba(190, 219, 176, 1);
--color-hover-green: rgba(157, 200, 136, 1);
--color-icon-dark: rgba(18, 18, 18, 1);
--color-light: rgba(22, 22, 22, 0.3);
--color-light-blue: rgba(184, 188, 253, 1);
--color-light-gray: rgba(217, 217, 217, 1);
--color-light-purple: rgba(123, 126, 222, 1);
--color-opacity-black: rgba(22, 22, 22, 0.05);
--color-pale-blue: rgba(236, 237, 253, 1);
--color-pale-gray: rgba(232, 232, 232, 1);
--color-pale-white: rgba(255, 255, 255, 0.3);
--color-pastel: rgba(192, 77, 77, 1);
--color-pink: rgba(224, 156, 181, 1);
--color-purple: rgba(82, 85, 188, 1);
--color-purple-blue: rgba(151, 156, 234, 1);
--color-red: rgba(255, 0, 0, 0.664);
--color-shadow: rgba(22, 22, 22, 0.08);
--color-text-card: rgba(22, 22, 22, 0.7);
--color-text-dark: rgba(22, 22, 22, 0.5);
--color-text-grey: rgba(22, 22, 22, 0.8);
--color-transparent-black: rgba(22, 22, 22, 0.1);
--color-white: rgba(255, 255, 255, 1);
}

html {
  height: 100%;
  overflow-y: hidden;
}

body {
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Poppins', 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  ::-webkit-scrollbar {
    background-color: var(--color-white);
    width: 4px;
    height: 12px;
    border-radius: 12px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--color-pale-gray);
    border-radius: 12px;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

button,
a {
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  text-decoration: none;
}
p {
  margin: 0;
  padding: 0;
}
